/node_modules
#/public/hot
#/public/storage
#/public/js/
#/public/css/
/storage/*.key
/vendor
.env
.env.example
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
package-lock.json
package.json
