// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// import component styles
@import "components/main-page";
@import "components/lists-predefined";
@import "components/lists-user";
@import "components/tasks";
//@import "./components/";
//@import "./components/";
//@import "./components/";
//@import "./components/";
//@import "./components/";
//@import "./components/";
//@import "./components/";
//@import "./components/";
//@import "./components/";
//@import "./components/";
//@import "./components/";
//@import "./components/";
//@import "./components/";
//@import "./components/";
//@import "./components/";
