.main-page {
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 2fr 60px;
    grid-auto-columns: 400px auto;
    grid-template-areas:
        "predef tasks"
        "lists tasks"
        "footer footer";
}
