@import url(https://fonts.googleapis.com/css?family=Nunito);
.main-page {
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr 2fr 60px;
  grid-auto-columns: 400px auto;
  grid-template-areas: "header header" "predef tasks" "lists tasks" "footer footer";
  margin: 30px;
}

.header {
  grid-area: header;
  grid-auto-flow: column;
  height: 200px;
}

.lists-predefined {
  grid-area: predef;
}

.lists-user {
  grid-area: lists;
}
.lists-user__link {
  text-decoration: none;
  color: #212529;
}

.tasks {
  grid-area: tasks;
  border: 1px solid lightgray;
  height: auto;
  margin: 30px;
}

.tasks-info {
  margin: 30px;
}

.footer {
  grid-area: footer;
  margin-top: 30px;
}
